.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px;
    border-color: grey;
    background:rgb(240, 229, 229);
    height: 60px;
    width: 40px;   
    border-radius: 3px;
}

.card-selected{
    border: 2px;
    border-color: rgb(221, 10, 45);
    background-color: rgb(135, 193, 226);
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(173, 23, 23, 0.2);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-left {
    padding-top: 1px;
    padding-left: 2px;    
}

.container-right {
    float: right;
    padding-bottom: 5px;
    padding-right: 3px;      
}

.container-suit{
    width: 50%;
    margin: 0 auto;
}
.row{
    margin: 1px;
}