<div>
    <img *ngIf="suit == 1" src="..\..\..\assets\images\spade.png" alt="No image" height="22px" width="22px" class="img-rounded"
    />
    <img *ngIf="suit == 2" src="..\..\..\assets\images\clubs.png" alt="No image" height="22px" width="22px" class="img-rounded"
    />
    <img *ngIf="suit == 3" src="..\..\..\assets\images\heart.png" alt="No image" height="22px" width="22px" class="img-rounded"
    />
    <img *ngIf="suit == 4" src="..\..\..\assets\images\diamond.png" alt="No image" height="22px" width="22px" class="img-rounded"
    />  
</div>