/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

.no-spaces{
    padding: 0px !important;
    margin: 0px !important;
}

.centre{
    align-content: center;
}